<nav class="bg-blue-600 p-4 shadow">
    <ul class="flex justify-center space-x-6">
        <li>
            <a href="/" class="text-white font-semibold hover:text-gray-300 transition duration-200">INICIO</a>
        </li>
        <li>
            <a href="/users" class="text-white font-semibold hover:text-gray-300 transition duration-200">USUARIOS</a>
        </li>
    </ul>
</nav>
